@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Inconsolata:wght@300&display=swap');

/* Main */
* {
    font-family: 'Inconsolata', monospace;
    color: var(--dark);
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --light-dark: rgb(201,192,187);
    --middle-dark:  #a5a7aa;
    --white-title: rgb(248, 246, 246);
    --red-error: rgb(173, 32, 32);
    --dark: #282c34;
}

/* HEADER AREA */

.header{
    height: 14vh;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    background-color: rgba(98, 116, 81, 0.86);
}

.button {
    min-height: 44px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.header__figure {
    background-image: url('/img/logo.png');
    height: 14vh;
    width: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
}

/* MAIN AREA */

.body {
    background-image: url('/img/forest.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(98, 116, 81, 0.3);
    overflow-y: scroll;
}

/* ASIDE AREA */

.aside {
    height: 100vh;
    width: 40vh;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 14vh;
    overflow-y: scroll;
    box-shadow: inset 0 0 6px;
    background-color: rgba(98, 116, 81, 0.86);

}

.aside__ul {
    height: 100vh;
    width: 33vh;
    margin-left: -1.5rem;
}

.episode {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: linear-gradient(45deg, rgb(149,69,53),rgba(0,158,158, 0.6));
    box-shadow: inset 0 0 6px;
}


/* SECTION AREA */

.section {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: auto;
    top: 6vh;
    left: 46vh;
    right: 6vh;
    z-index: 1;
    margin-top: 14vh;
    background: rgba(98, 116, 81, 0.86);  /* fallback for old browsers */
    background: linear-gradient(to right,rgba(98, 116, 81, 0.6), rgba(0,158,158, 0.6), rgba(149,69,53, 0.4)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 0 0 6px;
    border-radius: 15px;
    padding: 15px;
}

.section__article-div {
    background-color: rgba(219, 226, 226, 0.6);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 10px;
}

.section__article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 10px;
    grid-auto-flow: dense;
}

