@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Inconsolata:wght@300&display=swap');

/* Main */
* {
    font-family: 'Inconsolata', monospace;
    color: var(--dark);
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --light-dark: rgb(201,192,187);
    --middle-dark:  #a5a7aa;
    --white-title: rgb(248, 246, 246);
    --red-error: rgb(173, 32, 32);
    --dark: #282c34;
}

/* HEADER AREA */

.header{
    height: 14vh;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    background-color: rgba(128, 128, 16, 0.7);
}

.header__figure {
    background-image: url('/img/logo.png');
    height: 14vh;
    width: 55vh;
    background-position: center center;
    background-repeat: no-repeat;
}

/* MAIN AREA */

.body {
    background-image: url('/img/forest.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /* background-color: rgba(98, 116, 81, 0.3);
    background-blend-mode: overlay; */
}

.main {
    position: fixed;
    left: 0;
    top: 14vh;
    width: 100vw;
    height: 86vh;
    background-color: rgba(98, 116, 81, 0.3);
}

/* ASIDE AREA */

.aside {
    height: 100vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 14vh;
    overflow-y: scroll;
    box-shadow: inset 0 0 6px;
    background-color: rgba(0,158,158, 0.8);
    padding-top: 18px;

}

.episode {
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 10px 0 0 10px;
    text-align: start;
    padding: 0 15px;
}

.episode:hover {
    color: rgba(149,69,53, 0.85);
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: linear-gradient(55deg, rgba(105, 105, 11, 0.8),rgba(149,69,53, 0.8));
    box-shadow: inset 0 0 6px;
}


/* SECTION AREA */

.section {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 75vh;
    top: 6vh;
    left: 46vh;
    right: 6vh;
    z-index: 1;
    margin-top: 14vh;
    background: rgba(98, 116, 81, 0.86);  /* fallback for old browsers */
    background: linear-gradient(to right, rgba(149,69,53, 0.8),rgba(105, 105, 11, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 0 0 6px;
    border-radius: 15px;
    padding: 15px 10px 17px 10px;
    min-width: 180px;
}

.hidden {
    display: none;
}

.section__h2 {
    font-size: 2.4rem;
    margin: 2rem auto;
    font-weight: 700;
}

.section__p {
    font-size: 1.8rem;
    margin: 0 auto 1.2rem auto;
    font-weight: 600;
    letter-spacing: -1px;
}

.section__h3 {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.section__article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 15px;
    padding: 15px 5px;
    grid-auto-flow: dense;
    overflow-y: scroll;
    overflow-x: hidden;
}

.section__article-div {
    background-color: transparent;
    border-radius: 4px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.section__article-div:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    box-shadow: inset 0 0 6px;
    border-radius: 4px;
}

.flip-card-front {
    background-image: url("https://rickandmortyapi.com/api/character/avatar/1.jpeg");
    background-blend-mode: overlay;
    background-color:rgb(98, 116, 81);

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-back {
    background-color: rgba(151, 151, 19, 0.6);
    transform: rotateY(180deg);
    padding: 0 3px;
}

/* SINGLE CHARACTER SECTION AREA */

.sectionCharacter {
    background-color: rgba(151, 151, 19);
    background: linear-gradient(to right, rgba(105, 105, 11, 0.9), rgba(0,158,158, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 72vh;
}

.display__character {
    overflow: auto;
}

.display_character__h3 {
    margin: 3rem auto 2rem auto;
}

span:hover {
    color: rgba(149,69,53, 0.85);
    cursor: pointer;
}

.photo {
    width: 24vh;
    height: 28vh;
    background-blend-mode: overlay;
    background-color:rgb(98, 116, 81);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin: 15px 25px;
    box-shadow: inset 0 0 6px;
}

.display_episodes {
    margin: 10px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 15px;
    grid-auto-flow: dense;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
}

.button {
    height: 9vh;
    width: auto;
    min-height: 44px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.display_episodes-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.button h3 {
    font-size: 2rem;
    font-weight: 700;
    text-align: start;
    margin: 10px 0;
    letter-spacing: -1px;
}

.button p {
    font-size: 2rem;
    margin: 0;
    text-align: start;
}

hr {
    border: 0.7px solid rgba(149,69,53, 0.8);
    width: 95%;
    margin-top: 20vh;
}